/* style.css */

/* Importer la police depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* Appliquer la police à tous les éléments h1, h2, h3, p, etc. */
h1,
h2,
h3,
h4,
p,
li {
    font-family: 'Merriweather', serif;
}

/* Appliquer des styles supplémentaires si nécessaire */
p {
    font-size: 14px;
    /* Taille du texte */
    line-height: 1.6;
    /* Hauteur de ligne */
}